* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #242424;
}

header {
    padding: 10px 20px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

header .logo {
    width: 40px;
}

header h1 {
    font-size: 1.5em;
    margin-left: 10px;
}

header select {
    padding: 2px 60px 2px 0;
    background-color: rgb(239, 239, 239);
    margin: 0 0 5px 10px;
}

header button {
    padding: 2px 30px;
    margin: 5px 0 0 10px;
}    
    
@media screen and (max-width: 700px) {
    header h1,
    header label {
        display: none;
    }
    
        
    header select {
        padding: 2px;
    }
}
    
@media screen and (max-width: 300px) {
    header div:last-child {
        text-align: end;
    }
}
/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: calc(100% - 70px - 60px);
}
/* square-100 */
main .game-table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px; 
} 

div[class *= square] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;  
    background-color: gainsboro;
    border: 1px solid #242424;
    transition: 0.2s;
} 

div[class *= square]:hover {
    background-color: white;
    box-shadow: 2px 2px #242424 inset;
    cursor: pointer;
} 

div[class *= square].stop-hover:hover {
    background-color: gainsboro;
    box-shadow: 0 0 transparent;
    cursor: default;
} 

.square-100 {
    width: calc(100% / 10);
}

.square-81 {
    width: calc(100% / 9);
}

.square-49 {
    width: calc(100% / 7);
}

div[class *= square].active {
    background-color: #2E4C6D;
    color: white;
}

div[class *= square].active.mine {
    background-color: red;
    color: white;
}

div[class *= square].stop-hover:hover {
    box-shadow: 0 0 transparent;
}

footer {
    background-color: white;
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 10px;
}
